@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body,html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #282a3a;
}
#editor {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#maintextbox {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    width: 100%;
    outline: none;
    resize: none;
}
#line-numbers {
    width: 20px;
    text-align: right;
}  
#line-numbers span {
    counter-increment: linenumber;
}
#line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
}
#header {
    width: 100%;
    height: 5%;
    position: sticky;
    font-family: 'Noto Sans', sans-serif;
}